In [1]:
pip install kafka-python

Collecting kafka-python
  Downloading kafka_python-2.0.2-py2.py3-none-any.whl (246 kB)
     ---------------------------------------- 0.0/246.5 kB ? eta -:--:--
     - -------------------------------------- 10.2/246.5 kB ? eta -:--:--
     ---- -------------------------------- 30.7/246.5 kB 435.7 kB/s eta 0:00:01
     ------------- ----------------------- 92.2/246.5 kB 871.5 kB/s eta 0:00:01
     -------------------------------------- 246.5/246.5 kB 1.9 MB/s eta 0:00:00
Installing collected packages: kafka-python
Successfully installed kafka-python-2.0.2
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [2]:
producer = KafkaProducer(bootstrap_servers=['18.188.168.238:9092'], #change ip here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [6]:
producer.send('demo_test', value={'Name':'Jatin'})

In [9]:
df = pd.read_csv("indexProcessed.csv")

In [10]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [11]:
df.sample(1).to_dict(orient="records")[0]

{'Index': 'SSMI',
 'Date': '2004-04-27',
 'Open': 5887.200195,
 'High': 5894.5,
 'Low': 5851.5,
 'Close': 5869.299805,
 'Adj Close': 5869.299805,
 'Volume': 75580000.0,
 'CloseUSD': 6514.9227835500005}

In [22]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_test', value=dict_stock)
    sleep(1)

KeyboardInterrupt:

In [21]:
producer.flush()